.search-wrapper {
  margin: 42px 0 0 78px;
  width: max-content;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #e2e2e2;
  border: 2px solid #e2e2e2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.search-icon {
  width: max-content;
  height: 15px;
}
input,
input:focus {
  width: 50vw;
  background: #e2e2e2;
  border: none;
  outline: none;
}
