/** @format */

.screen2 {
  display: flex;

  max-width: 1804px;
  max-height: max-content;

  background: #f2f2f2;
}

.screen2_content_container {
  flex: 1;
  padding-left: 70px;
  padding-right: 180px;
  background: #f2f2f2;
  overflow-y: scroll;
  height: 100vh;
}

.inputOuterbox {
  max-width: 1083px;
  height: 176px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 42px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.inputInnerbox {
  display: flex;
  width: 100%;
  height: 98px;
  background: #fafafa;
  border-radius: 15px;
}

.inputInnerbox > textarea {
  flex: 1;
  border: none;
  outline: none;
  background: #fafafa;
  resize: none;
  font-size: 20px;
  line-height: 20px;
  color: #9b9b9b;
  border-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inputInnerbox > textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #bababa;

  opacity: 1; /* Firefox */
}
.inputOuterbox_buttons_container {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 5px;
}
.left_button_container {
  flex: 0.68;
  display: flex;
  align-items: center;
}
.left_button_container > Button {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #ef3e36;
  margin-left: 15px;
  text-transform: capitalize;
}
.right_button_container {
  display: flex;
  justify-content: space-between;
  flex: 0.32;
  align-items: center;
}
.right_button_container > .MuiIconButton-root {
  width: 50px;
  height: 50px;
  background: #ffc480;
}

.splitbutton {
  display: flex;
  align-items: center;
}

.splitbutton > Button {
  width: 140px;
  height: 50px;
  text-transform: capitalize;
  font-size: 20px;

  color: #f2d8d5;
  background: #ff6c40;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.arrowButton > button {
  height: 50px;
  background: #ffc480;
  width: 39.69px;
  border: none;
  outline: none;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d3d3d3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d3d3d3;
}
