/** @format */

.sideNavBar {
  display: flex;
  flex-direction: column;
  width: 269px;

  height: 100vh;
  padding: 7px 0 0 0;
  background: #ff6c40;
}

.options {
  display: flex;
  flex-direction: row;
  padding: 23px 30px;

  cursor: pointer;
}
.navbar-item {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  width: max-content;
  padding-left: 30px;
  margin: auto 0;
}

.options:hover {
  background: #ffc480;
}

.options > img {
  width: 36px;
  height: 36px;
}
